.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

mat-sidenav {
    padding: 10px;
    width: 225px;
}

::ng-deep mat-card {
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
    background: #e4e4e4 !important;
}

.main-content {
    background-color: black;
}
