.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

mat-sidenav {
    padding: 10px;
    width: 225px;
}

.main-content {
    background-color: black;
}