<mat-card class="card">
    <button
        id="view-sets-btn"
        mat-raised-button
        color="primary"
        [routerLink]="['/sets']"
        [queryParams]="{ theme: themeName}"
        [state]="{ themeID: themeID, themeName: themeName }">
        View Sets
    </button>
    <mat-card-header>
        <mat-card-title>Add Set</mat-card-title>
        
    </mat-card-header>
    <br>
    <div class="add-sets-form" [formGroup]="form">
        <ng-container formArrayName="sets">
            <ng-container *ngFor="let setForm of sets.controls; let i = index">
                <div class="sets-form-row" [formGroupName]="i">
                    <mat-form-field class="set-input-field" appearance="outline">
                        <mat-label>Set Identification Number</mat-label>
                        <input matInput placeholder="75269-1" formControlName="identificationNum">
                        <mat-error *ngIf="setForm.get('identificationNum')?.hasError('required')">
                            Set Id is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="set-input-field" appearance="outline">
                        <mat-label>Set Name</mat-label>
                        <input matInput placeholder="Duel on Mustafar" formControlName="name">
                        <mat-error *ngIf="setForm.get('name')?.hasError('required')">
                            Set Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Set Condition</mat-label>
                        <mat-select formControlName="condition">
                            <mat-option value="New">New (Sealed)</mat-option>
                            <mat-option value="Used">Used</mat-option>
                        </mat-select>
                        <mat-error *ngIf="setForm.get('condition')?.hasError('required')">
                            Set Condition is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <fa-icon *ngIf="canRemoveRow" id="remove-set-form-btn" [icon]="removeBtn" size="2x" (click)="removeRow(i)"></fa-icon>
                    <fa-icon *ngIf="i == sets.controls.length -1" id="add-set-form-btn" [icon]="addBtn" size="2x" (click)="addRow()"></fa-icon>
                </div>
            </ng-container>
        </ng-container>
        <mat-card-actions class="form-btns">
            <button [disabled]="form.invalid || isSaving" mat-raised-button color="primary" (click)="addSets()">Add</button>
            <button mat-raised-button color="warn" (click)="resetForm()">Clear</button>
        </mat-card-actions>
    </div>
</mat-card>