<mat-card>
    <mat-card-header>
        <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ng-container *ngIf="!isValidUser">
            <div class="error-message">No User Found</div>
        </ng-container>
        <ng-container *ngIf="!isCorrectPassword">
            <div class="error-message">Incorrect Password</div>
        </ng-container>
        <ng-container *ngIf="isSuccessfullLogin">
            <div class="success-message">Login Successfull</div>
        </ng-container>
        <form [formGroup]="signInForm">
            <div class="form-field-container">
                <mat-form-field id="login" appearance="fill">
                    <mat-label>UserName or Email</mat-label>
                    <input matInput [formControl]="signInForm.controls.login">
                    <mat-error *ngIf="signInForm.controls.login.hasError">
                        Login name is required
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field id="password" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" [formControl]="signInForm.controls.password">
                    <mat-error *ngIf="signInForm.controls.password.hasError">
                        Password is required
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions class="action-buttons">
        <button mat-raised-button color="primary" (click)="signIn()">Sign In</button>
        &nbsp;
        <button mat-raised-button (click)="reset()">Reset</button>
    </mat-card-actions>
</mat-card>
