<div class="menu-btns-container">
    <button class="sidenav-btn" mat-button color="primary" [routerLink]="['/home']" (click)="isOpen()">Home</button>
    <br>
    <button class="sidenav-btn" mat-button color="primary" [routerLink]="['/import-sets']" (click)="isOpen()">Import Sets</button>
    <br>
    <button class="sidenav-btn" mat-button color="primary" [routerLink]="['/add-sets']" (click)="isOpen()">Add Sets</button>
    <br>
    <button class="sidenav-btn" mat-button color="primary" [routerLink]="['/view-sets']" (click)="isOpen()">View Sets</button>
</div>
