<mat-card>
    <mat-card-header *ngIf="setInfo === null; else ShowInfoTemplate">
        <mat-card-title >Loading</mat-card-title>
    </mat-card-header>
</mat-card>

<ng-template #ShowInfoTemplate>
    <mat-card-header>
        <mat-card-title>{{ setInfo!.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img src="{{setInfo!.imageUrl}}" alt="set image" style="width: 500px; height: 300px;">
        <br><br>
        <div id="data-labels-container">
            <data-label class="data-label" [label]="'SetID'" [value]="setInfo!.setId"></data-label>
            <data-label class="data-label" [label]="'Weight'" [value]="setInfo!.weight + 'g'"></data-label>
            <data-label class="data-label" [label]="'Year Released'" [value]="setInfo!.yearReleased.toString()"></data-label>
            <data-label class="data-label" [label]="'Is Obsolete'" [value]="setInfo!.isObsolete ? 'true' : 'false'"></data-label>
        </div>
    </mat-card-content>
</ng-template>
