.add-theme-btn {
    float: right;
}

.theme-card {
    cursor: pointer;
    width: 300px;
    height: 88px;
    box-shadow: 10px 5px 5px grey;
    background-color: white !important;

    &:hover {
        background-color:  darkgray !important;
    }
}

.theme-content-card {
    text-align: center;
    justify-content: center;
}

mat-card-content {
    display: flex;
    flex-wrap: wrap;
}

::ng-deep .mat-card>:first-child, .mat-card-content>:first-child {
    margin-top: 15px;
}

#trash-icon {
    float: left;
}

#edit-icon {
    float: right;
}