.example-spacer {
    flex: 1 1 auto;
}

.content-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.content-sidenav-info {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.content-sidenav {
    padding: 20px;
}